body {
    color: blue
}

.candidate-image {
    border: black solid 3px;
    border-radius: 5px;
    width: 10%;
}

.movie {
    color: black;
}

.candidate-movie {
    background-color: cornflowerblue;
    color: white;
}

.primary-movie {
    color: white;
    background-color: gray;
}

.main-image {
    border: black solid 3px;
    border-radius: 5px;
    width: 25%;
}