body {
    color: blue
}

.header-container {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.header-title {
    background-color: hotpink;
    grid-area: 1 1;
}

.header-author {
    width: 100%;
    background-color: indigo;
    grid-area: 1 2;
    text-align: right;
}

h1 {
    text-align: center;
    color: rgb(68, 67, 67);
}

.candidate-image {
    border: black solid 3px;
    border-radius: 5px;
    width: 10%;
}

.movie {
    color: black;
}

.candidate-movie {
    background-color: cornflowerblue;
    color: white;
}

.primary-movie {
    color: white;
    background-color: gray;
    text-align: center;
}

.main-image {
    border: black solid 3px;
    border-radius: 5px;
    width: 25%;
}